/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/04fc97e8-f2d1-43f5-be10-92307a06f98d.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/7489a483-1992-4098-ace0-5d43c95de7f1.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/ea41c0a2-5697-46e6-8d05-679ac354a364.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/RemoteClnt/RemoteClnt.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
